/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
/.fleet
/.idea
/.vscode

public/css/app.css
public/js/app.js
public/js/app.js.LICENSE.txt
public/js/manifest.js
public/js/vendor.js
public/js/vendor.js.LICENSE.txt
public/vendor/app/js/cp.js
public/vendor/
public/images
